flows/local flow

[{"id":"dde289ec.75e558","type":"tab","label":"Smart Home","disabled":false,"info":""},{"id":"1141fba.904d284","type":"inject","z":"dde289ec.75e558","name":"Fan Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"r,LOW","payloadType":"str","x":1120,"y":1180,"wires":[[]]},{"id":"d99154fe.c4fb3","type":"inject","z":"dde289ec.75e558","name":"White Led Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"b","payloadType":"str","x":130,"y":1140,"wires":[[]]},{"id":"31d54105.c811fe","type":"inject","z":"dde289ec.75e558","name":"White Led on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a","payloadType":"str","x":130,"y":1100,"wires":[[]]},{"id":"e0b97af.8092208","type":"inject","z":"dde289ec.75e558","name":"Relay Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"d","payloadType":"str","x":300,"y":1140,"wires":[[]]},{"id":"5edc7d99.c46a34","type":"inject","z":"dde289ec.75e558","name":"Relay on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"c","payloadType":"str","x":300,"y":1100,"wires":[[]]},{"id":"cef3d449.08da","type":"inject","z":"dde289ec.75e558","name":"Other song","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"f","payloadType":"str","x":480,"y":1140,"wires":[[]]},{"id":"f8f7e405.60c938","type":"inject","z":"dde289ec.75e558","name":"Happy Birthday","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"e","payloadType":"str","x":500,"y":1100,"wires":[[]]},{"id":"d53ab2e6.78e4a","type":"inject","z":"dde289ec.75e558","name":"Light Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"h","payloadType":"str","x":130,"y":1180,"wires":[[]]},{"id":"de02e02b.63216","type":"inject","z":"dde289ec.75e558","name":"Stop Music","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"g","payloadType":"str","x":730,"y":1100,"wires":[[]]},{"id":"5a5855c8.892bd4","type":"inject","z":"dde289ec.75e558","name":"Soil Moisture sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"j","payloadType":"str","x":510,"y":1180,"wires":[[]]},{"id":"2c0a7348.c825b4","type":"inject","z":"dde289ec.75e558","name":"Gas Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"i","payloadType":"str","x":310,"y":1180,"wires":[[]]},{"id":"dcf8dd3e.a2743","type":"inject","z":"dde289ec.75e558","name":"Door Open","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"l","payloadType":"str","x":920,"y":1140,"wires":[[]]},{"id":"d4142373.483028","type":"inject","z":"dde289ec.75e558","name":"Water sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"k","payloadType":"str","x":930,"y":1100,"wires":[[]]},{"id":"55ed00fd.6cdb5","type":"inject","z":"dde289ec.75e558","name":"Window Open","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"n","payloadType":"str","x":930,"y":1180,"wires":[[]]},{"id":"413b6e8e.1f3a6","type":"inject","z":"dde289ec.75e558","name":"Door Close","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"m","payloadType":"str","x":720,"y":1140,"wires":[[]]},{"id":"e8373358.f136c8","type":"inject","z":"dde289ec.75e558","name":"Yellow Led on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"p","payloadType":"str","x":1130,"y":1100,"wires":[[]]},{"id":"6ab6962c.1c5a28","type":"inject","z":"dde289ec.75e558","name":"Windo close","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"o","payloadType":"str","x":730,"y":1180,"wires":[[]]},{"id":"b6d34458.bdaa4","type":"inject","z":"dde289ec.75e558","name":"fan stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"s","payloadType":"str","x":1320,"y":1100,"wires":[[]]},{"id":"7e18be86.496618","type":"inject","z":"dde289ec.75e558","name":"YelloW led off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"q","payloadType":"str","x":1130,"y":1140,"wires":[[]]},{"id":"25139d04.73447a","type":"inject","z":"dde289ec.75e558","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"w","payloadType":"str","x":1310,"y":1140,"wires":[[]]},{"id":"78160b6.efb0c74","type":"ui_template","z":"dde289ec.75e558","group":"9ee01a97.7f6718","name":"","order":1,"width":8,"height":6,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":380,"y":260,"wires":[[]]},{"id":"48db1a8e.0060fc","type":"ui_button","z":"dde289ec.75e558","name":"","group":"9ee01a97.7f6718","order":3,"width":0,"height":0,"passthru":false,"label":"take picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":610,"y":520,"wires":[["3b2ebf71.218078"]]},{"id":"1893c834.958de","type":"ui_switch","z":"dde289ec.75e558","name":"","label":"white led","tooltip":"","group":"57646150.de44c8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"a","onvalueType":"str","onicon":"","oncolor":"blue","offvalue":"b","offvalueType":"str","officon":"","offcolor":"white","x":600,"y":340,"wires":[["e1aec257.c31e58"]]},{"id":"bdfc4a67.25b9d8","type":"ui_switch","z":"dde289ec.75e558","name":"","label":"Relay","tooltip":"","group":"57646150.de44c8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"c","onvalueType":"str","onicon":"","oncolor":"","offvalue":"d","offvalueType":"str","officon":"","offcolor":"","x":590,"y":380,"wires":[["e1aec257.c31e58"]]},{"id":"eed4292.59c4f58","type":"ui_button","z":"dde289ec.75e558","name":"","group":"57646150.de44c8","order":9,"width":0,"height":0,"passthru":false,"label":"Water sensor start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, ","payloadType":"str","topic":"","x":630,"y":180,"wires":[["e1aec257.c31e58"]]},{"id":"6722c3a6.6b317c","type":"ui_button","z":"dde289ec.75e558","name":"","group":"57646150.de44c8","order":10,"width":0,"height":0,"passthru":false,"label":"Light sensor start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h","payloadType":"str","topic":"","x":630,"y":220,"wires":[["e1aec257.c31e58"]]},{"id":"5a3866d5.956f48","type":"ui_switch","z":"dde289ec.75e558","name":"","label":"Yellow Led","tooltip":"","group":"57646150.de44c8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"p","onvalueType":"str","onicon":"","oncolor":"","offvalue":"q","offvalueType":"str","officon":"","offcolor":"","x":610,"y":420,"wires":[["e1aec257.c31e58"]]},{"id":"e4c409a7.d4e54","type":"ui_chart","z":"dde289ec.75e558","name":"","group":"27fc1c9f.94b09c","order":1,"width":0,"height":0,"label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":380,"wires":[[]]},{"id":"a74af64.1ddd088","type":"ui_chart","z":"dde289ec.75e558","name":"","group":"27fc1c9f.94b09c","order":2,"width":0,"height":0,"label":"Water","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ea0607","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":320,"wires":[[]]},{"id":"8f02ff1e.78bc2","type":"ui_chart","z":"dde289ec.75e558","name":"","group":"291745a3.c869a2","order":3,"width":0,"height":0,"label":"Gas","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":440,"wires":[[]]},{"id":"421e668f.ce2f88","type":"ui_chart","z":"dde289ec.75e558","name":"","group":"291745a3.c869a2","order":1,"width":0,"height":0,"label":"Soil","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":500,"wires":[[]]},{"id":"9aa42f6d.9899d","type":"ui_button","z":"dde289ec.75e558","name":"","group":"57646150.de44c8","order":11,"width":0,"height":0,"passthru":false,"label":"Gas sensor start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i","payloadType":"str","topic":"","x":620,"y":260,"wires":[["e1aec257.c31e58"]]},{"id":"ca408930.22c2d","type":"ui_button","z":"dde289ec.75e558","name":"","group":"57646150.de44c8","order":12,"width":0,"height":0,"passthru":false,"label":"Soil sensor start","tooltip":"this button activates the soil sensor for some seconds","color":"brown","bgcolor":"green","icon":"","payload":"j,j,j,j,j,j,j,j,j,j,j,j,j,j,j,j,j,j,j,j","payloadType":"str","topic":"","x":620,"y":300,"wires":[["e1aec257.c31e58"]]},{"id":"5eb49773.cdb578","type":"mqtt in","z":"dde289ec.75e558","name":"","topic":"smart/home/message/picture/taken","qos":"2","datatype":"auto","broker":"f72a9812.b030f","x":160,"y":260,"wires":[["78160b6.efb0c74","663c3ff6.9566a8"]]},{"id":"e1aec257.c31e58","type":"mqtt out","z":"dde289ec.75e558","name":"","topic":"smart/home/message","qos":"","retain":"","broker":"bdf98717.baa1d","x":940,"y":320,"wires":[]},{"id":"5bedaa51.f6ce8c","type":"mqtt in","z":"dde289ec.75e558","name":"","topic":"smart/home/message/water","qos":"2","datatype":"auto","broker":"bdf98717.baa1d","x":140,"y":320,"wires":[["a74af64.1ddd088"]]},{"id":"7e7832de.088d14","type":"mqtt in","z":"dde289ec.75e558","name":"","topic":"smart/home/message/light","qos":"2","datatype":"auto","broker":"bdf98717.baa1d","x":130,"y":380,"wires":[["e4c409a7.d4e54"]]},{"id":"a1c1c628.63d97","type":"mqtt in","z":"dde289ec.75e558","name":"","topic":"smart/home/message/gas","qos":"2","datatype":"auto","broker":"bdf98717.baa1d","x":130,"y":440,"wires":[["8f02ff1e.78bc2"]]},{"id":"c34c4900.67635","type":"mqtt in","z":"dde289ec.75e558","name":"","topic":"smart/home/message/soil","qos":"2","datatype":"auto","broker":"bdf98717.baa1d","x":130,"y":500,"wires":[["421e668f.ce2f88"]]},{"id":"4897b4ca.0603dc","type":"ui_switch","z":"dde289ec.75e558","name":"","label":"Fan","tooltip":"","group":"57646150.de44c8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"r","onvalueType":"str","onicon":"","oncolor":"","offvalue":"s","offvalueType":"str","officon":"","offcolor":"","x":590,"y":460,"wires":[["e1aec257.c31e58","9555e174.62472"]]},{"id":"3b2ebf71.218078","type":"mqtt out","z":"dde289ec.75e558","name":"","topic":"smart/home/message/picture","qos":"","retain":"","broker":"bdf98717.baa1d","x":910,"y":520,"wires":[]},{"id":"663c3ff6.9566a8","type":"debug","z":"dde289ec.75e558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":180,"wires":[]},{"id":"9555e174.62472","type":"debug","z":"dde289ec.75e558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":400,"wires":[]},{"id":"48988e25.9c1768","type":"ui_chart","z":"dde289ec.75e558","name":"","group":"291745a3.c869a2","order":1,"width":0,"height":0,"label":"Garden","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":360,"y":600,"wires":[[]]},{"id":"13d0329c.ba40ad","type":"mqtt in","z":"dde289ec.75e558","name":"","topic":"smart/garden/message/soil","qos":"2","datatype":"auto","broker":"bdf98717.baa1d","x":120,"y":600,"wires":[["4bc0dff1.3f7788"]]},{"id":"9fd2ff25.a06f","type":"debug","z":"dde289ec.75e558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":700,"wires":[]},{"id":"4bc0dff1.3f7788","type":"change","z":"dde289ec.75e558","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Dry","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Wet","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":680,"wires":[["48988e25.9c1768","9fd2ff25.a06f"]]},{"id":"11daac72.f564dc","type":"inject","z":"dde289ec.75e558","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":600,"y":820,"wires":[["9fd2ff25.a06f","48988e25.9c1768"]]},{"id":"9ee01a97.7f6718","type":"ui_group","name":"Security camera","tab":"13a5a81.e6b8fd8","order":2,"disp":true,"width":"8","collapse":false},{"id":"57646150.de44c8","type":"ui_group","name":"Controls","tab":"13a5a81.e6b8fd8","order":1,"disp":true,"width":4,"collapse":false},{"id":"27fc1c9f.94b09c","type":"ui_group","name":"Graph","tab":"13a5a81.e6b8fd8","order":3,"disp":false,"width":"8","collapse":false},{"id":"291745a3.c869a2","type":"ui_group","name":"Graph2","tab":"13a5a81.e6b8fd8","order":4,"disp":false,"width":"8","collapse":false},{"id":"f72a9812.b030f","type":"mqtt-broker","name":"ha2","broker":"192.168.192.64","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"bdf98717.baa1d","type":"mqtt-broker","name":"","broker":"192.168.192.64","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"13a5a81.e6b8fd8","type":"ui_tab","name":"Smart Home","icon":"dashboard","disabled":false,"hidden":false}]
