flows/MQTT_flow
[
    {
        "id": "fd77f939.f77978",
        "type": "tab",
        "label": "MQTT Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ba8fad3c.19892",
        "type": "rpi-sensehat in",
        "z": "fd77f939.f77978",
        "name": "",
        "motion": false,
        "env": false,
        "stick": true,
        "x": 180,
        "y": 500,
        "wires": [
            [
                "d2070183.2992e8"
            ]
        ]
    },
    {
        "id": "d2070183.2992e8",
        "type": "rbe",
        "z": "fd77f939.f77978",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "72cd4ffa.637a58"
            ]
        ]
    },
    {
        "id": "72cd4ffa.637a58",
        "type": "switch",
        "z": "fd77f939.f77978",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ENTER",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 500,
        "wires": [
            [
                "7b1e64f3.598d1c"
            ]
        ]
    },
    {
        "id": "7b1e64f3.598d1c",
        "type": "switch",
        "z": "fd77f939.f77978",
        "name": "DOWN joystick",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 780,
        "y": 500,
        "wires": [
            [
                "e919f878.0b6658"
            ]
        ]
    },
    {
        "id": "32948c53.e108f4",
        "type": "change",
        "z": "fd77f939.f77978",
        "name": "camera icon",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "*,*,blue,2-4,2,silver,0-6,3,silver,0-1,4,silver,5-6,4,silver,0-1,5,silver,3,5,white,5-6,5,silver,0-1,6,silver,5-6,6,silver,0-6,7,silver",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "509e7fcc.a3f18",
                "8b0e1824.ea64c"
            ]
        ]
    },
    {
        "id": "8b0e1824.ea64c",
        "type": "rpi-sensehat out",
        "z": "fd77f939.f77978",
        "name": "",
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "509e7fcc.a3f18",
        "type": "delay",
        "z": "fd77f939.f77978",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "d6681ed1.2f717"
            ]
        ]
    },
    {
        "id": "d6681ed1.2f717",
        "type": "change",
        "z": "fd77f939.f77978",
        "name": "Clear display",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "*,*,black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 160,
        "wires": [
            [
                "8b0e1824.ea64c"
            ]
        ]
    },
    {
        "id": "8ea8455a.d2e21",
        "type": "mqtt in",
        "z": "fd77f939.f77978",
        "name": "",
        "topic": "smart/home/message",
        "qos": "2",
        "datatype": "auto",
        "broker": "a2ae59c.1e436a8",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "35bd5f48.4b2a1",
                "91ceea0f.08d318"
            ]
        ]
    },
    {
        "id": "35bd5f48.4b2a1",
        "type": "debug",
        "z": "fd77f939.f77978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 20,
        "wires": []
    },
    {
        "id": "7cebfee0.b12b98",
        "type": "mqtt in",
        "z": "fd77f939.f77978",
        "name": "",
        "topic": "smart/home/message/picture",
        "qos": "2",
        "datatype": "auto",
        "broker": "a2ae59c.1e436a8",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "35bd5f48.4b2a1",
                "32948c53.e108f4",
                "c05ad8e7.bec008"
            ]
        ]
    },
    {
        "id": "273e0af5.793ade",
        "type": "rpi-sensehat out",
        "z": "fd77f939.f77978",
        "name": "",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "ab0604e7.174d68",
        "type": "inject",
        "z": "fd77f939.f77978",
        "name": "CPUTemp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "e919f878.0b6658"
            ]
        ]
    },
    {
        "id": "e919f878.0b6658",
        "type": "exec",
        "z": "fd77f939.f77978",
        "command": "vcgencmd",
        "addpay": false,
        "append": "measure_temp",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "CPUTemp",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "d23c7a06.4c697"
            ],
            [],
            []
        ]
    },
    {
        "id": "80660b15.01ae18",
        "type": "debug",
        "z": "fd77f939.f77978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "d23c7a06.4c697",
        "type": "split",
        "z": "fd77f939.f77978",
        "name": "",
        "splt": "11",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "80660b15.01ae18",
                "b7cb7fbd.5399d"
            ]
        ]
    },
    {
        "id": "b7cb7fbd.5399d",
        "type": "switch",
        "z": "fd77f939.f77978",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "temp",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 380,
        "wires": [
            [
                "273e0af5.793ade"
            ]
        ]
    },
    {
        "id": "91ceea0f.08d318",
        "type": "change",
        "z": "fd77f939.f77978",
        "name": "message icon",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "*,*,white,0-6,1,red,0,1-6,red,0-6,6,red,6,1-6,red,1,2,red,2,3,red,3,4,red,4,3,red,5,2,red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "8b0e1824.ea64c",
                "509e7fcc.a3f18"
            ]
        ]
    },
    {
        "id": "59aadd35.a57c64",
        "type": "mqtt in",
        "z": "fd77f939.f77978",
        "name": "",
        "topic": "Deurbel",
        "qos": "2",
        "datatype": "auto",
        "broker": "a2ae59c.1e436a8",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "36ad79d5.696896"
            ]
        ]
    },
    {
        "id": "36ad79d5.696896",
        "type": "debug",
        "z": "fd77f939.f77978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 260,
        "wires": []
    },
    {
        "id": "b609cb16.e6e1b8",
        "type": "serial in",
        "z": "fd77f939.f77978",
        "name": "",
        "serial": "774d7cea.68bfb4",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "36ad79d5.696896"
            ]
        ]
    },
    {
        "id": "c05ad8e7.bec008",
        "type": "debug",
        "z": "fd77f939.f77978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "2a6636f8.30fada",
        "type": "mqtt in",
        "z": "fd77f939.f77978",
        "name": "",
        "topic": "room/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "a2ae59c.1e436a8",
        "x": 240,
        "y": 600,
        "wires": [
            [
                "e8f93f21.29d15"
            ]
        ]
    },
    {
        "id": "e8f93f21.29d15",
        "type": "debug",
        "z": "fd77f939.f77978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "a8482662.4f37f8",
        "type": "mqtt in",
        "z": "fd77f939.f77978",
        "name": "",
        "topic": "room/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "a2ae59c.1e436a8",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "e8f93f21.29d15"
            ]
        ]
    },
    {
        "id": "3eb5f5e1.55342a",
        "type": "mqtt in",
        "z": "fd77f939.f77978",
        "name": "",
        "topic": "smart/garden/message",
        "qos": "2",
        "datatype": "auto",
        "broker": "a2ae59c.1e436a8",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "91ceea0f.08d318",
                "35bd5f48.4b2a1",
                "1d0d9896.46ff0f"
            ]
        ]
    },
    {
        "id": "1d0d9896.46ff0f",
        "type": "debug",
        "z": "fd77f939.f77978",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "a2ae59c.1e436a8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.192.64",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "774d7cea.68bfb4",
        "type": "serial-port",
        "serialport": "/dev/ttyAMA0",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]
